#moose-header {
    display:block;
    height:250px;
    width: 100%;
    object-fit:cover;
    object-position: 40% 40%;
}
h1, h2 {
    text-align: center;
}
.content {
    width: 33%;
    margin: auto;
    margin-bottom: 30px;
}
#meWithFish {
    display:block;
    margin:auto;
    width:300px
}
body {
    background-color: rgba(254,240,229,255);
    font-family: 'Courier New', Courier, monospace;
    margin:0;
}
.hideWhileLoading {
    display:none
}
.hideLoaders {
    display:none
}


@media only screen and (max-width: 1000px) {
    .content {
        width:80%
    }
    p {
        font-size: 36px;
    }
    h1{
        font-size: 46px;
    }
    h2 {
        font-size: 42px;
    }
    #meWithFish {
        width: 100%;
    }
  }